# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pym
*.pdb
*.egg-info/
.eggs/
*.egg
*.whl

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment files
.env
.env.*

# Data
data/processed/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac
.DS_Store

# Python distribution
build/
dist/

# pytest cache
.pytest_cache/
